<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "cine.jpg" %>);">
  <div class="container">
    <h1><strong>Mes catégories de film </strong> <i class="fa-solid fa-film"></i> </h1>
    <p>jettes donc un coup d'oeil à ça mon copain.</p>
  </div>
</div>
  <div class="cards">
    <% @list.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.url %>)">
      <%= link_to(list.name , list_path(list)) %>
        <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
        <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
   <% end %>
</div>

<%= link_to("créer", new_list_path) %>
